@{
    Layout = null;
    }
<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Acceuil</title>
</head>
<body>
    <h3> Hey les poney ! la librarie vous convient ? </h3>
    <p> Menu direction</p>
    <ul>
        <li>@Html.ActionLink("Affichage auteurs", "Auteurs", "Affichage")</li>

        <li>@Html.ActionLink("Affichage livres", "Index", "Affichage")</li>
    </ul>
   
    @if (ViewBag.Message != null)
    {
        <p>@ViewBag.Message</p>
    }
</body>
</html>